/* 1.- Estilo global para todos los elementos */
* {
  margin: 0;
}

/* 2.- Estilos para el elemento h1 */
h1 {
  text-align: center;
  background-color: #EDEEEE;
  color: orange;
  border-bottom: 3px solid #4caf50;
  padding: 30px;
}

/* 3.- Estilos para el div con id "galeria" */
#galeria {
  max-width: 500px;
  margin: 0 auto;
}

/* 4.- Estilos para los elementos img dentro de la galería */
#galeria img {
  float: left;
  padding: 1.2em;
}

/* Estilo de cambio de color al hacer hover en la imagen */
#galeria img:hover {
  background-color: #e8f1f4;
}